.docpubEmbed {
  border: none;
  width: 100%;
  height: 800px;
}

@media (max-width: 500px) {
  .docpubEmbed {
    height: 650px;
  }
}

@media (max-width: 400px) {
  .docpubEmbed {
    height: 550px;
  }
}